In [2]:
import pandas as pd
from numpy import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
import pickle

In [144]:
df=pd.read_csv('insurance.csv')

In [145]:
df.head(5)

,age,sex,New_Sex,bmi,children,smoker,New_Smoker,region,New_Region,charges
0,19,female,0,27.900,0,yes,1,southwest,3,16884.92400
1,18,male,1,33.770,1,no,0,southeast,2,1725.55230
2,28,male,1,33.000,3,no,0,southeast,2,4449.46200
3,33,male,1,22.705,0,no,0,northwest,1,21984.47061
4,32,male,1,28.880,0,no,0,northwest,1,3866.85520

In [146]:
# While in excel,I already encoded sex,smoker and region to New_sex,New_smoker and New_Region respectively 
# so that computer  can understand for machine learning task in regression

In [147]:
# So drop uneccessary columns
df=df.drop(['sex','smoker','region'],axis=1)

In [148]:
df.shape

(1338, 7)

In [149]:
df

      age  New_Sex     bmi  children  New_Smoker  New_Region      charges
0      19        0  27.900         0           1           3  16884.92400
1      18        1  33.770         1           0           2   1725.55230
2      28        1  33.000         3           0           2   4449.46200
3      33        1  22.705         0           0           1  21984.47061
4      32        1  28.880         0           0           1   3866.85520
...   ...      ...     ...       ...         ...         ...          ...
1333   50        1  30.970         3           0           1  10600.54830
1334   18        0  31.920         0           0           0   2205.98080
1335   18        0  36.850         0           0           2   1629.83350
1336   21        0  25.800         0           0           3   2007.94500
1337   61        0  29.070         0           1           1  29141.36030

[1338 rows x 7 columns]

### Data Exploration

### Find correlation between variables

In [115]:
df.corr()

,age,New_Sex,bmi,children,New_Smoker,New_Region,charges
age,1.000000,-0.020856,0.109272,0.042469,-0.025019,0.002127,0.299008
New_Sex,-0.020856,1.000000,0.046371,0.017163,0.076185,0.004588,0.057292
bmi,0.109272,0.046371,1.000000,0.012759,0.003750,0.157566,0.198341
children,0.042469,0.017163,0.012759,1.000000,0.007673,0.016569,0.067998
New_Smoker,-0.025019,0.076185,0.003750,0.007673,1.000000,-0.002181,0.787251
New_Region,0.002127,0.004588,0.157566,0.016569,-0.002181,1.000000,-0.006208
charges,0.299008,0.057292,0.198341,0.067998,0.787251,-0.006208,1.000000

In [104]:
y=df.iloc[:,6]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [105]:
X=df.iloc[:,0:6]
X

      age  New_Sex     bmi  children  New_Smoker  New_Region
0      19        0  27.900         0           1           3
1      18        1  33.770         1           0           2
2      28        1  33.000         3           0           2
3      33        1  22.705         0           0           1
4      32        1  28.880         0           0           1
...   ...      ...     ...       ...         ...         ...
1333   50        1  30.970         3           0           1
1334   18        0  31.920         0           0           0
1335   18        0  36.850         0           0           2
1336   21        0  25.800         0           0           3
1337   61        0  29.070         0           1           1

[1338 rows x 6 columns]

In [106]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [70]:
# Now lets normalize the datasets so as to enable all features have equal chance of contribution
# So scale X_train and X_test
scaling=StandardScaler()
X_train=scaling.fit_transform(X_train)
X_test=scaling.fit_transform(X_test)

In [71]:
X_train

array([[ 1.54446486, -1.02597835,  0.10318223, -0.91501097, -0.51298918,
        -0.42907066],
       [ 0.48187425,  0.97467943, -0.4908445 , -0.91501097, -0.51298918,
         1.36784271],
       [ 1.04858924, -1.02597835,  0.2266597 ,  1.56027883, -0.51298918,
         0.46938603],
       ...,
       [ 1.33194673,  0.97467943, -0.8954835 , -0.91501097, -0.51298918,
        -1.32752735],
       [-0.15568012, -1.02597835,  2.84638435,  0.73518223,  1.94935887,
         1.36784271],
       [ 1.11942861,  0.97467943, -0.10706319, -0.91501097, -0.51298918,
         1.36784271]])

In [34]:
# # After scaling transform back to a dataframe so that the indexes and features names can be retained
# scaled_features_df = pd.DataFrame(scaled_features, index=X.index, columns=X.columns)

In [72]:
# X=scaled_features_df
# X

In [73]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(936, 6) (936,)
(402, 6) (402,)

In [75]:
model = LinearRegression()  # define the linear regression model
model.fit(X_train, y_train)  # fit the data

LinearRegression()

In [76]:
print('The weight vector is:', model.coef_)
print()
print('The bias is:', model.intercept_)

The weight vector is: [3693.22419232   54.80557279 2064.85587799  514.32785602 9592.79601818
 -363.35933577]

The bias is: 13379.157306773504

In [77]:
y_pred = model.predict(X_test) # make predictions for the test data
print(y_pred)  # it returns us a `np.ndarray` object
print(y_pred.shape)

[ 9.17802505e+03  7.16305826e+03  3.77321932e+04  9.83623445e+03
  2.75099058e+04  1.07080009e+04  1.86393349e+02  1.73012249e+04
  1.21139960e+03  1.15968890e+04  2.86059370e+04  9.65551478e+03
  5.25566409e+03  3.90657608e+04  4.10260085e+04  3.77848973e+04
  1.52884276e+04  3.64876258e+04  9.27714747e+03  3.21429418e+04
  3.83654322e+03  1.01710828e+04  2.19877622e+03  6.97056930e+03
  1.15671685e+04  1.31596444e+04  1.45370625e+04  6.19052885e+03
  1.01759106e+04  2.18439855e+03  9.05060452e+03  1.33420390e+04
  4.41860310e+03  3.57477033e+03  4.36407552e+03  1.32017754e+04
  1.74746466e+03  8.74639049e+03  3.40711254e+04  3.32023583e+04
  3.66555274e+03  4.41397674e+03  1.41340507e+04  1.19044216e+04
  8.87542656e+03  1.23303850e+04  5.21600171e+03  2.99177914e+03
  3.61828234e+04  9.20565746e+03  1.60643152e+04  2.36572770e+03
  1.23851880e+04  1.54606678e+03  1.36999103e+04  1.28842468e+04
  4.52265595e+03  3.28094723e+04  1.33513131e+04  1.30797199e+04
  1.42573513e+04  1.03752427e+04  1.65382928e+04  7.98075947e+03
  1.20376053e+04  4.13207234e+03  2.70681830e+04  1.13104406e+04
  2.21622579e+03  5.97039183e+03  1.08714817e+04  1.17720592e+04
  1.11016347e+04  9.35824064e+03  1.21249491e+04  6.79366195e+03
  7.35078124e+03  1.10583888e+04  6.53652762e+03  8.77228351e+03
  3.75894469e+03  3.75841761e+04  6.21891890e+03  3.12193309e+04
  3.51545827e+04  3.60663913e+04  7.14417637e+03  1.32297584e+04
  1.01092177e+04  1.45724141e+04  1.79238782e+04  3.61228948e+04
  3.37288818e+04  6.36850073e+03  3.25835898e+04  9.50808518e+03
  3.00892052e+04  3.54148205e+03  2.89263343e+04  5.95778576e+03
  5.47138015e+03  1.59905129e+03  1.16123650e+04  1.52075187e+04
  1.21837261e+04  4.27050475e+03  1.01499269e+04  3.26219922e+04
  2.51856221e+01  3.35921560e+04  3.08091997e+03  1.01014799e+04
  1.45640520e+04  3.21622109e+04  1.16410059e+04  3.74730628e+03
  1.35315676e+04  3.22748570e+04  8.21313726e+03  3.37651915e+03
  8.45568171e+03  1.08349736e+04  1.53554452e+04  5.65016535e+03
  3.88213122e+03  1.03528679e+04  1.09584871e+04  1.14402671e+04
  1.46403040e+04  7.36066595e+03  5.40558994e+03  9.37343023e+03
  9.33403033e+03  1.25955160e+04  8.19635543e+03  1.54668961e+04
  8.51807469e+03  3.23307159e+04  3.63509723e+04  3.21553112e+04
  6.13879136e+03  1.27646790e+04  6.03871825e+03  1.47393753e+04
  2.60991474e+03  3.36220391e+04  6.50200928e+03  4.85825318e+03
  1.45336633e+04  6.92282890e+03  3.93622316e+04  3.08227772e+03
  5.77831750e+03  3.22982374e+04  1.15735328e+04  8.59799917e+03
  1.52122977e+04  9.97457257e+03  2.74523331e+04  3.41481305e+04
  1.48107251e+04  1.67460212e+03  1.34732948e+04  2.34918826e+03
  5.31356176e+03  1.17380295e+04  4.03260655e+04  3.72658370e+04
  3.47471739e+04  3.65338811e+03  7.53352826e+03  8.53124294e+03
  1.25359981e+04  5.04018189e+03  1.80941994e+03  3.29314735e+04
  2.54576992e+04  1.78058043e+04  2.71013602e+04  1.05175454e+04
  3.80821082e+04 -3.73972648e+02  7.21908690e+03  7.59253270e+03
  4.59302145e+03  5.05554404e+03  6.05509381e+03  4.13469048e+03
  1.51857550e+04  1.15536852e+04  6.75112934e+03  2.42965021e+03
  1.53885089e+03  3.23271552e+04  1.67344068e+04  1.21516735e+04
  1.27110304e+03  1.27839157e+04  1.49849849e+03  8.77167519e+03
  1.95636195e+03  3.48031723e+04  1.08442797e+04  2.71376494e+03
  2.61028576e+04  2.68501933e+04  9.81941204e+03  1.88006920e+03
  1.34395096e+04  9.82452500e+02  1.07029546e+04  1.08751005e+04
  1.69244321e+04  2.74484065e+04  7.21646977e+03  5.22000904e+03
  5.88901311e+03  1.35310888e+04  1.14203575e+04  8.36203900e+03
  5.03303934e+03  1.25057810e+04  1.38949899e+04  3.64327645e+04
  4.22938038e+03  2.94901622e+04 -1.11272392e+03  2.93430165e+03
  1.13644721e+04  1.57589035e+04  5.17515358e+03  7.24454339e+03
  3.72151092e+03  3.18780870e+04  7.60381338e+03  1.26274887e+04
  5.75630757e+03  9.52920085e+03  3.68116876e+04  4.43501110e+03
  1.00697763e+04  3.15334697e+04  5.69415956e+03  4.56501718e+03
  1.16511337e+03  4.95257739e+03  4.40284382e+03  6.45108433e+03
  1.87153526e+04 -1.34899630e+03  2.09391005e+03  1.06876655e+04
  2.98161302e+03  1.05438859e+04  3.66105914e+03  5.05358533e+03
  1.26210442e+04  6.31663260e+03  8.61740751e+03  7.62291087e+03
  9.09185055e+03  1.08993202e+04  2.83974060e+04  3.99196959e+04
  1.20873127e+04  7.92283459e+03  4.14398466e+04  1.22805247e+04
  7.40034405e+03  8.56518221e+03  9.39893644e+03  1.11942114e+04
  1.04591004e+04  1.78631022e+04  8.94604206e+02  2.41972907e+04
  1.27694806e+04  3.38152419e+04  5.45985371e+03  1.33984254e+04
  1.05920326e+04  1.79938800e+04  1.00465624e+04  1.17127539e+04
  3.27104416e+04  3.44018895e+03  1.37705703e+04  4.00500904e+04
  5.66944242e+03  6.17626533e+03  3.32976355e+03  1.15612038e+04
  2.61693872e+04  1.43661646e+04  9.63031921e+03  1.04447959e+04
  1.37089308e+04  9.21887421e+02  2.45652817e+03  3.11928604e+04
  3.04628533e+04  1.36350042e+04  3.69046355e+03  2.60184291e+04
  1.38187966e+04  3.12803434e+04  3.42753573e+03  3.97905197e+04
  1.12260544e+04  4.73425350e+03  6.76417506e+03  2.58136284e+03
  2.65616867e+04  1.44486044e+04  5.17558131e+02  1.28339485e+04
  1.29665460e+04  1.51290750e+04  3.56427114e+04  1.45934974e+04
  3.24412722e+04  9.96203155e+03  1.82794661e+04  5.88610269e+03
  9.16932990e+03  9.42918481e+03  1.56319698e+04  9.30544627e+03
  8.26564803e+03  1.50523279e+04  1.30805002e+04  1.50477918e+04
  7.40812986e+03  2.66275593e+04  9.42007440e+03  1.99927324e+03
  4.41611544e+03  1.41871292e+04  3.64175749e+04  9.65103854e+03
  1.31077029e+04  5.60782977e+03  5.12203287e+03  3.91822397e+03
  2.74003412e+03  9.21539540e+03  7.32943232e+03  2.47008456e+03
  1.31497204e+04  9.07968514e+03  5.94605790e+03  6.67898784e+02
  9.53607748e+03  4.92955406e+03  3.36713314e+04  2.89490261e+04
  3.75865511e+04  5.46468429e+03  8.91958308e+03  8.48382797e+03
  3.30277370e+03  3.23849170e+04  7.38664825e+03  2.92354911e+04
  3.67855810e+04  7.22656543e+03  1.30341510e+04  9.88651168e+03
  8.63497999e+03  1.29119460e+04  3.10060371e+04  1.70909378e+04
  1.18845254e+04  4.18429763e+03 -1.19301448e+03  1.24193800e+04
  3.14097311e+04  1.32916319e+04  1.13494450e+04  7.82261784e+03
  3.74893887e+03  7.17681754e+03  7.32454981e+03  1.07047098e+04
  3.45647879e+04  3.97509161e+04  1.20117615e+04  8.51633709e+03
  1.66579524e+04  1.57510602e+04  9.52642046e+03  9.04504686e+03
  9.05615515e+03  2.73864361e+03  1.01507490e+04  4.11341233e+03
  1.07702258e+04  1.60369007e+04  6.83142865e+03  2.11926630e+03
  1.47713078e+04  1.53387334e+02]
(402,)

In [84]:
# Compute mse
math.sqrt(mean_squared_error(y_test,y_pred))

5815.818415654073

In [85]:
r2_score(y_test,y_pred)

0.7693169411699159

### below try to predict the price by specifying 6 features of the independent variables

In [95]:
print(model.predict([[5,6,27,60,10,5]]))

[212896.05527491]

### Second model

In [ ]:
df=pd.read_csv('insurance.csv')

In [150]:
df.corr()

,age,New_Sex,bmi,children,New_Smoker,New_Region,charges
age,1.000000,-0.020856,0.109272,0.042469,-0.025019,0.002127,0.299008
New_Sex,-0.020856,1.000000,0.046371,0.017163,0.076185,0.004588,0.057292
bmi,0.109272,0.046371,1.000000,0.012759,0.003750,0.157566,0.198341
children,0.042469,0.017163,0.012759,1.000000,0.007673,0.016569,0.067998
New_Smoker,-0.025019,0.076185,0.003750,0.007673,1.000000,-0.002181,0.787251
New_Region,0.002127,0.004588,0.157566,0.016569,-0.002181,1.000000,-0.006208
charges,0.299008,0.057292,0.198341,0.067998,0.787251,-0.006208,1.000000

So from above we can observe that there is a strong linear correlation between the charges(target) and New_smoker

In [151]:
y=df.iloc[:,6]
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [152]:
X=df.iloc[:,4]
X

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: New_Smoker, Length: 1338, dtype: int64

### Lets reshape X and y

We have to reshape X and y because they are both single arrays

In [153]:
X=X.values.reshape(-1,1)
y=y.values.reshape(-1,1)

In [154]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [155]:
# Now lets normalize the datasets so as to enable all features have equal chance of contribution
# So scale X_train and X_test
scaling=StandardScaler()
X_train=scaling.fit_transform(X_train)
X_test=scaling.fit_transform(X_test)

In [156]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(936, 1) (936, 1)
(402, 1) (402, 1)

In [157]:
model = LinearRegression()  # define the linear regression model
model.fit(X_train, y_train)  # fit the data

LinearRegression()

In [158]:
print('The weight vector is:', model.coef_)
print()
print('The bias is:', model.intercept_)

The weight vector is: [[9427.649439]]

The bias is: [13379.15730677]

In [159]:
y_pred = model.predict(X_test) # make predictions for the test data
print(y_pred)  # it returns us a `np.ndarray` object
print(y_pred.shape)

[[ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [32442.15260323]
 [32442.15260323]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]
 [ 8716.69096492]]
(402, 1)

In [160]:
# Compute mse
math.sqrt(mean_squared_error(y_test,y_pred))

7169.787786759297

In [161]:
r2_score(y_test,y_pred)

0.6494042655991139

---

### Third model

In [29]:
df=pd.read_csv('insurance.csv')

In [30]:
df.corr()

,age,New_Sex,bmi,children,New_Smoker,New_Region,charges
age,1.000000,-0.020856,0.109272,0.042469,-0.025019,0.002127,0.299008
New_Sex,-0.020856,1.000000,0.046371,0.017163,0.076185,0.004588,0.057292
bmi,0.109272,0.046371,1.000000,0.012759,0.003750,0.157566,0.198341
children,0.042469,0.017163,0.012759,1.000000,0.007673,0.016569,0.067998
New_Smoker,-0.025019,0.076185,0.003750,0.007673,1.000000,-0.002181,0.787251
New_Region,0.002127,0.004588,0.157566,0.016569,-0.002181,1.000000,-0.006208
charges,0.299008,0.057292,0.198341,0.067998,0.787251,-0.006208,1.000000

In [31]:
#y=df.iloc[:,6]
y=df.loc[:,'charges']
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [32]:
X=df.loc[:,['bmi','New_Smoker']]
X

         bmi  New_Smoker
0     27.900           1
1     33.770           0
2     33.000           0
3     22.705           0
4     28.880           0
...      ...         ...
1333  30.970           0
1334  31.920           0
1335  36.850           0
1336  25.800           0
1337  29.070           1

[1338 rows x 2 columns]

In [39]:
#Merge and X and y
df = pd.concat([X, y], axis=1)
# Next save as a csv
df.to_csv('insurance_1.csv')

In [38]:
df.head(2)

     bmi  New_Smoker     charges
0  27.90           1  16884.9240
1  33.77           0   1725.5523

In [34]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [19]:
# Now lets normalize the datasets so as to enable all features have equal chance of contribution
# So scale X_train and X_test
scaling=StandardScaler()
X_train=scaling.fit_transform(X_train)
X_test=scaling.fit_transform(X_test)

In [9]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(936, 2) (936,)
(402, 2) (402,)

In [10]:
regressor = LinearRegression()  # define the linear regression model
regressor.fit(X_train, y_train)  # fit the data

LinearRegression()

In [11]:
print('The weight vector is:', regressor.coef_)
print()
print('The bias is:', regressor.intercept_)

The weight vector is: [5.80620397e-17 4.06116431e-01]

The bias is: 0.20833333333333334

In [12]:
y_pred = regressor.predict(X_test) # make predictions for the test data
print(y_pred)  # it returns us a `np.ndarray` object
print(y_pred.shape)

[0.00748749 0.00748749 1.02951317 0.00748749 1.02951317 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749
 0.00748749 1.02951317 1.02951317 1.02951317 0.00748749 1.02951317
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 1.02951317 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749 1.02951317
 1.02951317 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 1.02951317 1.02951317 0.00748749 1.02951317 0.00748749
 1.02951317 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 1.02951317
 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317
 1.02951317 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 1.02951317 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 1.02951317
 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 1.02951317 1.02951317 0.00748749 1.02951317 0.00748749
 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749
 1.02951317 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 1.02951317 0.00748749 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 1.02951317
 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749 1.02951317
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317
 1.02951317 0.00748749 0.00748749 1.02951317 0.00748749 1.02951317
 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749
 0.00748749 0.00748749 1.02951317 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 1.02951317 1.02951317 0.00748749 0.00748749 0.00748749
 0.00748749 1.02951317 0.00748749 1.02951317 1.02951317 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 1.02951317 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 1.02951317 1.02951317 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749
 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749 0.00748749]
(402,)

In [13]:
# Compute mse
math.sqrt(mean_squared_error(y_test,y_pred))

0.014704327956826755

In [14]:
r2_score(y_test,y_pred)

0.9986306550851586

---

### Define the pickle

In [88]:
pickle.dump(regressor,open('model.pkl','wb'))

In [90]:
model=pickle.load(open('model.pkl','rb'))